/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*===== Colores =====*/
  --first-color: #8B8B8B;
  --primary-color: #4C7CDE;
  --dark-color: #070D1F;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

.header_scrol {
  background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--white-color);
}
.header__toggle {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: white;
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }
  main #hero {
    margin-left: 0;
    width: 100%;
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 33rem;
  }
  main #hero ::-moz-placeholder {
    color: white;
  }
  main #hero :-ms-input-placeholder {
    color: white;
  }
  main #hero ::placeholder {
    color: white;
  }
  main #hero #div1 #div2 #div3 {
    display: flex;
    justify-content: center;
  }
  main #hero #div1 #div2 #div3 .itm1 {
    margin-top: 0rem;
    padding: 15.6rem 0 0 0;
  }
  main #hero #div1 #div2 #div3 .itm1 p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button {
    margin: 18px 0 46px 0;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 9px 18px;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #hero #div1 #scroll-btn .scroll-content img {
    position: relative;
  }
  main #hero #div1 #our_products .maindiv {
    background-color: #F3F3F3;
    border-radius: 8px;
  }
  main #hero #div1 #our_products .maindiv img {
    padding: 33px;
  }
  main #more__about {
    margin: 14rem 0rem 0 0rem;
  }
  main #more__about #div1 #div2 #img-div {
    padding: 0 2rem;
  }
  main #more__about #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #more__about #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #more__about #div1 #div2 #img-div .para p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    padding: 28px 31px 0 0;
    text-align: justify;
  }
  main #more__about #div1 #div2 #img-div .para .about_button {
    margin: 46px 0 46px 0;
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 50%;
    padding: 9px 18px;
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #services #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #8B8B8B;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 h2 {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #303030;
    margin: 18px 0 9px 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8B8B8B;
    padding: 9px 23px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button {
    margin: 25px 0 0 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 9px 18px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button {
    margin: 18px 0 46px 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 3px 12px;
    border-radius: 7px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #what_we_do {
    margin: 0 2rem;
  }
  main #what_we_do #div1 #div2 #img-div {
    padding: 8rem 0px;
  }
  main #what_we_do #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #what_we_do #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #what_we_do #div1 #div2 #img-div .para p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    padding: 28px 31px 0 0;
    text-align: justify;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button {
    margin: 46px 0 46px 0;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 50%;
    padding: 9px 18px;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #bannerbg {
    padding: 6rem 0rem 6rem 0rem;
    background-image: url(../img/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main #bannerbg #div1 #div2 #div3 {
    padding: 63px 30px 0 22px;
  }
  main #bannerbg #div1 #div2 #div3 h2 {
    font-family: "outfit", Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  main #bannerbg #div1 #div2 #div3 .banner_button {
    margin: 36px 0 0 0;
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3 {
    color: var(--primary-color);
    background-color: var(--white-color);
    border-color: var(--primary-color);
    padding: 9px 36px;
    border-radius: 5px;
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3:hover {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
  }
  main #frequentquestion {
    margin: 6rem 0rem 0 0rem;
  }
  main #frequentquestion #div1 #div2 #img-div {
    margin: 41px 0;
  }
  main #frequentquestion #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #frequentquestion #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px dashed var(--first-color);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top: 1px;
    border-radius: 10px;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label .faq-heading {
    font-weight: 800;
    font-size: 14px;
    padding: 16px;
    color: var(--first-color);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label .faq-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: var(--first-color);
    width: 95%;
    padding-left: 20px;
    margin-bottom: 30px;
    text-align: justify;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox] {
    display: none;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq .faq-arrow {
    width: 13px;
    height: 13px;
    transition: transform 0.8s;
    border-top: 4px solid var(--dark-color);
    border-right: 4px solid var(--dark-color);
    float: right;
    position: relative;
    top: -51px;
    right: 30px;
    transform: rotate(45deg);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label {
    display: block;
    color: white;
    height: 250px;
    transition: height 0.2s;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label > .faq-arrow {
    transition: transform 0.8s;
    transform: rotate(135deg);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label > .faq-heading {
    font-weight: 800;
    font-size: 14px;
    color: var(--primary-color);
    padding: 16px;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
  }
  #contact {
    padding: 6rem 0rem 0rem 0rem;
  }
  #contact #div1 {
    background-image: url(../img/contactbg.png);
    background-repeat: no-repeat;
    background-size: 80rem 54rem;
  }
  #contact #div1 #div2 .div4 {
    padding: 7rem 0 8rem 0;
  }
  #contact #div1 #div2 .div4 .sec1 div h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  #contact #div1 #div2 .div4 .sec1 div h1 {
    font-family: outfit;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
  }
  #contact #div1 #div2 .div4 .sec1 div p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DCDCDC;
  }
  #contact #div1 #div2 .div4 .sec2 {
    margin: 43px 0;
  }
  #contact #div1 #div2 .div4 .sec2 div .form {
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 16px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea {
    position: relative;
    color: black;
    background-color: white;
    padding: 27px 28px;
    font-style: normal;
    font-size: 15.24px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #6A6D6A;
    border: 0;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea::-moz-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea:-ms-input-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input {
    height: 41px;
    border-radius: 8x;
    padding: 27px 28px;
    font-style: normal;
    font-size: 15.24px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input::-moz-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2 {
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-color);
    padding: 9px 28px;
    border-radius: 6px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2:hover {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
  }
  #contact #div1 .imgdiv .innerdiv img {
    position: relative;
    bottom: 160px;
  }
  #footer {
    background-color: var(--primary-color);
    padding: 6rem 0 1rem 0;
    margin: -13rem 0 0 0;
  }
  #footer .r1 .div1 div p {
    font-style: normal;
    font-size: 14px;
    padding: 20px 0 0 0;
    color: #FFFFFF;
  }
  #footer .r1 .div1 div #links .links-item {
    width: 146px;
    padding: 5px;
  }
  #footer .r1 .div1 div #links .links-item a #icons {
    font-size: 23px;
  }
  #footer .r1 .div1 div .r2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #6A6D6A;
    margin-top: 4rem;
  }
  #footer .r1 #div2 {
    margin-top: 15px;
  }
  #footer .r1 #div2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 0 37px 0;
  }
  #footer .r1 #div2 #link-ftr a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0;
  }
}
.nav__content {
  height: 80%;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}
.nav__menu {
  align-self: center;
}
.nav__item {
  margin: 2.5rem 0;
}
.nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--first-color);
}
.nav__social .btn1 {
  padding: 0 20px 0 0;
  background: none;
  border: none;
  color: white;
}
.nav__social .btn2 {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.nav__social .btn2:hover {
  background-color: transparent;
  color: var(--white-color);
  border-color: var(--white-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--primary-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: 1fr;
    -moz-column-gap: 32rem;
         column-gap: 32rem;
    justify-content: space-between;
  }
  .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: flex;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__item .btn2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* Light */
    color: #FFFFFF;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    color: var(--primary-color);
  }
  main #hero {
    margin-left: 0;
    width: 100%;
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 54rem;
  }
  main #hero ::-moz-placeholder {
    color: white;
  }
  main #hero :-ms-input-placeholder {
    color: white;
  }
  main #hero ::placeholder {
    color: white;
  }
  main #hero #div1 #div2 #div3 {
    display: flex;
    justify-content: center;
  }
  main #hero #div1 #div2 #div3 .itm1 {
    margin-top: 0rem;
    padding: 29.6rem 0 0 0;
  }
  main #hero #div1 #div2 #div3 .itm1 p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 20px 13rem;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button {
    margin: 18px 0 46px 0;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 9px 18px;
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #hero #div1 #div2 #div3 .itm1 .hero_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #hero #div1 #scroll-btn .scroll-content img {
    position: relative;
  }
  main #hero #div1 #our_products .maindiv {
    background-color: #F3F3F3;
    border-radius: 8px;
  }
  main #hero #div1 #our_products .maindiv img {
    padding: 33px;
  }
  main #more__about {
    margin: 22rem 7rem 0 7rem;
  }
  main #more__about #div1 #div2 #img-div {
    padding: 8rem 0px;
  }
  main #more__about #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #more__about #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #more__about #div1 #div2 #img-div .para p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    padding: 28px 31px 0 0;
    text-align: justify;
  }
  main #more__about #div1 #div2 #img-div .para .about_button {
    margin: 46px 0 46px 0;
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 25%;
    padding: 9px 18px;
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #more__about #div1 #div2 #img-div .para .about_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #services {
    margin: 0rem 7rem 0 7rem;
  }
  main #services #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #8B8B8B;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 h2 {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #303030;
    margin: 18px 0 9px 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8B8B8B;
    padding: 9px 23px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button {
    margin: 25px 0 0 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 9px 18px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .hero_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button {
    margin: 18px 0 46px 0;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
    padding: 3px 12px;
    border-radius: 7px;
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #services #div1 #carousel #section2 .r2 .div1 .c1 .card-text1 .maindiv .div2 .card_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #what_we_do {
    margin: 0 7rem 0 7rem;
  }
  main #what_we_do #div1 #div2 #img-div {
    padding: 8rem 0px;
  }
  main #what_we_do #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #what_we_do #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #what_we_do #div1 #div2 #img-div .para p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
    padding: 28px 31px 0 0;
    text-align: justify;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button {
    margin: 46px 0 46px 0;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3 {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 25%;
    padding: 9px 18px;
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3:hover {
    background-color: transparent;
    color: #4C7CDE;
    border-color: var(--primary-color);
  }
  main #what_we_do #div1 #div2 #img-div .para .about_button .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  main #bannerbg {
    padding: 6rem 0rem 6rem 0rem;
    background-image: url(../img/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main #bannerbg #div1 #div2 #div3 {
    padding: 63px 0 0 0;
  }
  main #bannerbg #div1 #div2 #div3 h2 {
    font-family: "outfit", Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--white-color);
  }
  main #bannerbg #div1 #div2 #div3 .banner_button {
    margin: 36px 0 0 0;
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3 {
    color: var(--primary-color);
    background-color: var(--white-color);
    border-color: var(--primary-color);
    padding: 9px 36px;
    border-radius: 5px;
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3:hover {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
  }
  main #bannerbg #div1 #div2 #div3 .banner_button a .btn3 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
  }
  main #frequentquestion {
    margin: 6rem 7rem 0 7rem;
  }
  main #frequentquestion #div1 #div2 #img-div {
    margin: 41px 0;
  }
  main #frequentquestion #div1 #div2 #img-div .content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 31.25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #060B07;
  }
  main #frequentquestion #div1 #div2 #img-div .content p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #8B8B8B;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px dashed var(--first-color);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top: 1px;
    border-radius: 10px;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label .faq-heading {
    font-weight: 800;
    font-size: 14px;
    padding: 16px;
    color: var(--first-color);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq label .faq-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: var(--first-color);
    width: 95%;
    padding-left: 20px;
    margin-bottom: 30px;
    text-align: justify;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox] {
    display: none;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq .faq-arrow {
    width: 13px;
    height: 13px;
    transition: transform 0.8s;
    border-top: 4px solid var(--dark-color);
    border-right: 4px solid var(--dark-color);
    float: right;
    position: relative;
    top: -51px;
    right: 30px;
    transform: rotate(45deg);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label {
    display: block;
    color: white;
    height: 185px;
    transition: height 0.2s;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label > .faq-arrow {
    transition: transform 0.8s;
    transform: rotate(135deg);
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:checked + label > .faq-heading {
    font-weight: 800;
    font-size: 14px;
    color: var(--primary-color);
    padding: 16px;
  }
  main #frequentquestion #div1 #div2 #img-div .Dropdowns #all_container .faq input[type=checkbox]:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
  }
  #contact {
    padding: 6rem 7rem 0rem 7rem;
  }
  #contact #div1 {
    background-image: url(../img/contactbg.png);
    background-repeat: no-repeat;
    background-size: 80rem 54rem;
  }
  #contact #div1 #div2 .div4 {
    padding: 7rem 0 8rem 0;
  }
  #contact #div1 #div2 .div4 .sec1 div h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  #contact #div1 #div2 .div4 .sec1 div h1 {
    font-family: outfit;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
  }
  #contact #div1 #div2 .div4 .sec1 div p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DCDCDC;
  }
  #contact #div1 #div2 .div4 .sec2 {
    margin: 43px 0;
  }
  #contact #div1 #div2 .div4 .sec2 div .form {
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-radius: 16px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea {
    position: relative;
    color: black;
    background-color: white;
    padding: 27px 28px;
    font-style: normal;
    font-size: 15.24px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #6A6D6A;
    border: 0;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea::-moz-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea:-ms-input-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form textarea::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input {
    height: 41px;
    border-radius: 8x;
    padding: 27px 28px;
    font-style: normal;
    font-size: 15.24px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input::-moz-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form input::placeholder {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8B8B8B;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2 {
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-color);
    padding: 9px 28px;
    border-radius: 6px;
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2:hover {
    background-color: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
  }
  #contact #div1 #div2 .div4 .sec2 div .form form .button .sec1_button .out_btn2 .btn2 span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
  }
  #contact #div1 .imgdiv .innerdiv img {
    position: relative;
    bottom: 160px;
  }
  #footer {
    background-color: var(--primary-color);
    padding: 6rem 0 1rem 0;
    margin: -13rem 0 0 0;
  }
  #footer .r1 .div1 div p {
    font-style: normal;
    font-size: 14px;
    padding: 20px 0 0 0;
    color: #FFFFFF;
  }
  #footer .r1 .div1 div #links .links-item {
    width: 146px;
    padding: 5px;
  }
  #footer .r1 .div1 div #links .links-item a #icons {
    font-size: 23px;
  }
  #footer .r1 .div1 div .r2 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #6A6D6A;
    margin-top: 4rem;
  }
  #footer .r1 #div2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 0 37px 0;
  }
  #footer .r1 #div2 #link-ftr a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: white;
    margin: 20px 0;
  }
  .active {
    color: var(--primary-color);
  }
}
@media screen and (max-width: 1399px) {
  .nav__content {
    -moz-column-gap: 22.3rem;
         column-gap: 22.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .nav__content {
    -moz-column-gap: 11.3rem;
         column-gap: 11.3rem;
  }
}/*# sourceMappingURL=styles.css.map */